/*.gradient {
  background-image: cross-fade(),
  url("C:\Users\Nzubechukwu\Desktop\CHINEDU\bootcamp\day6\project\tools\Adrian-Flux-Driverless-Dashboard-00-bckgrnd.jpg")
}*/



h1,
h2,
h3,
h4,
h5,
h6 {
  display: block;
}

header {
  padding: 25px;
  /*background: url("../tools/Adrian-Flux-Driverless-Dashboard-00-bckgrnd.jpg");*/
  background-size: cover;
  background-repeat: no-repeat;
  height: 900px;
  font-size: 19px;
  font-family: 'Chilanka', cursive;
  color: rgb(30, 39, 58);
}

header .logo {
  text-decoration: none;
  color: #1e2020;
  float: left;
}

nav {
  display: block;
  margin-bottom: 100px
}

nav .nav-links {
  display: inline-block;
  padding: 0;

}

nav .nav-links li {
  display: inline-block;
  padding: 0 10px;
}

nav .nav-links li a {
  color: #030303;
  text-decoration: none;
}

div.wheel {
  display: block;
  margin-top: 200px;
  text-align: center;
}

.wheel h2 {
  margin-bottom: 10px;
}

.wheel p {
  margin-top: 10px;
}

.button {
  background: rgb(181, 10, 4);
  background: linear-gradient(0deg, rgb(181, 25, 4) 0%, rgb(236, 1, 1) 100%);
  padding: 10px 15px;
  font-size: 11px;
  border-radius: 3px;
  color: #fff;
  font-family: 'Chilanka', cursive;
  text-decoration: none;
}

.text-center {
  text-align: center;
}
